<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% include 'header.html' %}

{% block page %}{% endblock %}
{% block page1 %}{% endblock %}
</body>
</html>